{{> start }}
<section class="about">
  <div class="container">
    <div class="about__inner inner section-inner">

      <div class="about__image section-image">
        <img src="{{src 'assets/about.svg'}}" alt="hero image">
      </div>

      <div class="about__content">
        <div class="about__title title">
          <h1 class="title__main">
            <span class="highlight">About us</span>
          </h1>

          <p class="title__sub">
            Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida dolor in. Elementum netus rhoncus
            sagittis nunc mi non egestas est. Aliquam maecenas in sed vestibulum neque feugiat pulvinar. Volutpat auctor
            a in sem vulputate aliquam tempor sit. Nulla urna felis penatibus ut cras sit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{> marquee}}
{{> end }}