<div class="marquee-container">
  {{!-- 1 --}}
  <div class="marquee marquee--1">
    <ul class="marquee__content">
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
    </ul>
  </div>

  {{!-- 2 --}}
  <div class="marquee marquee--2">
    <ul class="marquee__content">
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
      <li>We buy trAffic</li>
      <li class="stroke">We buy trAffic</li>
    </ul>
  </div>
</div>