{{> start }}
<section class="hero">
  <div class="container">
    <div class="hero__inner section-inner">

      <div class="hero__image section-image">
        <img src="{{src 'assets/hero.svg'}}" alt="hero image">
      </div>

      <div class="hero__content">
        <div class="hero__title title">
          <h1 class="title__main">Lorem ipsum dolor sit amet consectetur. Mi cras <div class="highlight">non non
              quis.</div>
          </h1>
          <p class="title__sub">
            Lorem ipsum dolor sit amet consectetur. Faucibus nunc et mattis at feugiat sagittis volutpat. At netus diam
            ipsum cras turpis imperdiet diam vel consequat. Ultrices in faucibus sodales sed sed. Enim aenean dignissim
            sed a non mollis. Sed ut arcu enim ullamcorper.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{> marquee}}
{{> end }}