* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

input {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  background: none;
  border: none;
}

// Scroll bar
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(20, 20, 20, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-black);
}
