@import "./reset.scss";
@import "./fonts.scss";

// Pages
@import "../index.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/menu.scss";
@import "./components/nav.scss";
@import "./components/title.scss";
@import "./components/logo.scss";
@import "./components/button.scss";
@import "./components/social.scss";
@import "./components/marquee.scss";

// Base
body {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-black);
  background-color: var(--color-milk);
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__nav {
    margin: 0 auto;
    // position: sticky;
    // top: 0;
    // left: 0;
  }
}

.main {
  flex: 1 0 auto;
}

.section-image {
  max-width: 460px;
  width: 100%;
}

.section-inner {
  padding: 42px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.highlight {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    border-radius: 20px;
    background-color: var(--color-yellow);
    height: 12px;
    z-index: -1;
  }
}

html.loaded {
  .highlight {
    &::after {
      animation-fill-mode: forwards;
      animation-duration: 700ms;
      animation-name: highlight;
    }
  }
}

@keyframes highlight {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--color-purple);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loader-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;

  opacity: 1;
  visibility: visible;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: $tablet-viewport-width) {
  .section-image {
    max-width: 285px;
  }
}

@media (max-width: $mobile-viewport-width) {
  .highlight {
    &::after {
      bottom: 1;
      height: 10px;
    }
  }

  .section-inner {
    flex-direction: column;
    padding: 12px 0;
  }
}
