$desktop-viewport-width: 1440px;
$tablet-viewport-width: 1024px;
$mobile-viewport-width: 768px;

:root {
  --color-yellow: #e9a923;
  --color-grey: #585858;
  --color-black: #313131;
  --color-purple: #7f3a6a;
  --color-milk: #fdf8f3;
  --color-white: #ffffff;

  --z-index-header: 1000;
}
